<div class="registration-container">
    <h1>Employee Registration Form</h1>

    <div class="registration-department">
        <label id="registration-radio-group-label">Please select a department: </label>
        <mat-radio-group aria-labelledby="registration-radio-group-label" class="registration-radio-group"
            [(ngModel)]="selectedDepartment">
            <mat-radio-button class="registration-radio-button" *ngFor="let d of department" [value]="d.deptName">
                {{"Department ID " + d.deptID}}
            </mat-radio-button>
        </mat-radio-group>
        <label class="chosen-department">You have selected the <b>{{ selectedDepartment }} </b> department</label>
    </div>

    <div class="registration-form" *ngIf="selectedDepartment.length > 0">
        <mat-form-field appearance="fill">
            <mat-label>Enter employee's employee ID</mat-label>
            <input matInput placeholder="eg. 10" [formControl]="employeeId" required>
            <mat-error *ngIf="employeeId.invalid">{{getErrorMessage(employeeId)}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter employee's name</mat-label>
            <input matInput placeholder="eg. John Cena" [formControl]="name" required>
            <mat-error *ngIf="name.invalid">{{getErrorMessage(name)}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter employee's username</mat-label>
            <input matInput placeholder="eg. jack" [formControl]="username" required>
            <mat-error *ngIf="username.invalid">{{getErrorMessage(username)}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter employee's position</mat-label>
            <input matInput placeholder="eg. employee" [formControl]="position" required>
            <mat-error *ngIf="position.invalid">{{getErrorMessage(position)}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter employee's email</mat-label>
            <input matInput placeholder="eg. jack@flexis.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter employee's supervisor employee ID</mat-label>
            <input matInput placeholder="eg. 10" [formControl]="supervisorId" required>
            <mat-error *ngIf="supervisorId.invalid">{{getErrorMessage(supervisorId)}}</mat-error>
            <mat-hint *ngIf="supervisorId.valid">{{ "Supervisor Name: " + findSupervisorName(supervisorId.value)
                }}</mat-hint>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="submitForm()">Register</button>
    </div>

</div>