.mat-mdc-tab-group {
    margin-bottom: 48px;
}

.review-fwa-container {
    padding: 30px 40px;
}

h1 {
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}

table {
    width: 100%;
}
