<router-outlet *ngIf="isLogin"></router-outlet>

<mat-drawer-container *ngIf="!isLogin" class="nav-container" autosize>
    <mat-drawer #drawer class="nav-sidenav" mode="side">
        <img src="/assets/supervisor.png" />
        <h1>Jason Davids</h1>
        <h3>Employee</h3>
        <p>Submit Flexible Working Arrangements Request</p>
        <p>Update Daily Schedule</p>
    </mat-drawer>

    <mat-toolbar color="primary">
        <button (click)="drawer.toggle()" mat-icon-button class="nav-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon [ngStyle]="{'color': 'white'}">menu</mat-icon>
        </button>
        <span>FlexIS Information System</span>
        <span class="nav-spacer"></span>
        <button (click)="logout()" mat-icon-button class="nav-icon" aria-label="Example icon-button with menu icon">
            <mat-icon [ngStyle]="{'color': 'white'}">logout</mat-icon>
        </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
</mat-drawer-container>