<router-outlet *ngIf="isLoginPage"></router-outlet>

<mat-drawer-container *ngIf="!isLoginPage" class="nav-container" autosize>
    <mat-drawer #drawer class="nav-sidenav" mode="side">
        <img
            [src]="userData.position === 'employee' ? '/assets/employee.png' : userData.position === 'supervisor' ? '/assets/supervisor.png' : userData.position === 'admin' ? '/assets/admin.png' : ''" />
        <h1>{{ userData.name }}</h1>
        <h3>{{ userData.position.toUpperCase() }}</h3>
        <p (click)="navigate(['home']); drawer.toggle()">Home</p>
        <p *ngIf="userData.position === 'admin'" (click)="navigate(['register']); drawer.toggle()">Register Employee</p>
        <p *ngIf="userData.position === 'admin' || userData.position === 'supervisor'">View FWA Analytics</p>
        <p *ngIf="userData.position === 'supervisor'" (click)="navigate(['reviewFwa']); drawer.toggle()">Review FWA
            Request</p>
        <p *ngIf="userData.position === 'supervisor'">Review Employee Schedules</p>
        <p *ngIf="userData.position === 'employee'" (click)="navigate(['submitFwa']); drawer.toggle()">Submit FWA
            Request</p>
        <p *ngIf="userData.position === 'employee'">Update Daily Schedule</p>
    </mat-drawer>

    <mat-toolbar color="primary">
        <button (click)="drawer.toggle()" mat-icon-button class="nav-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon [ngStyle]="{'color': 'white'}">menu</mat-icon>
        </button>
        <span>FlexIS Information System</span>
        <span class="nav-spacer"></span>
        <button (click)="logout()" mat-icon-button class="nav-icon" aria-label="Example icon-button with menu icon">
            <mat-icon [ngStyle]="{'color': 'white'}">logout</mat-icon>
        </button>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <mat-toolbar color="primary" class="footer">
        <span>&#169; All copyrights reserved by FlexIS Information System</span>
    </mat-toolbar>
</mat-drawer-container>