.mat-mdc-tab-group {
    margin-bottom: 48px;
}

.view-fwa-container {
    padding: 30px 40px;
}

h1 {
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}

table {
    width: 100%;
    margin-bottom: 50px;
}

.all-tab-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 40px 20px 40px;
}

.all-tab-fwa-card {
    padding: 30px 40px;
    width: max-content;
    cursor: pointer;
    margin-bottom: 50px;
    box-shadow: 3px 5px 5px -2px #3f51b5
}

.mat-mdc-card-header {
    justify-content: center;
    margin-bottom: 10px;
}

.all-tab-fwa-card-image {
    width: 200px;
    margin: auto;
}

.mat-mdc-card-content {
    width: max-content;
    margin: auto;
    margin-top: 20px;
}

.all-tab-fwa-card-title {
    font-weight: 900;
    font-size: 1.4em;
}

.all-tab-fwa-card-content {
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    margin-top: 10px;
}

.department-tab-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0 0;
    margin-bottom: 80px;
}

.department-tab-selection h3 {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 30px;
}

.department-tab-selection span {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}

.department-tab-contents {
    padding: 10px 0;
}

.department-tab-contents .department-fwa-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.department-tab-content {
    display: flex;
    margin-bottom: 10px;
}

.department-tab-content .color-indicator {
    width: 20px;
    background-color: #3f51b5;
}

.department-fwa-container {
    flex-grow: 1;
}

.department-fwa-container .department-fwa-request {
    margin: 0;
    padding: 16px 0 16px 26px;
    font-weight: bold;
}

.department-fwa-container .department-fwa-request:nth-last-child(1) {
    margin: 0;
    padding: 16px 26px 16px 0;
    font-size: 1.3em;
    flex-wrap: wrap;
}

.schedule-tab-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0 0;
    margin-bottom: 30px;
}

.schedule-tab-selection h3 {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 30px;
}

.schedule-tab-selection span {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}

.schedule-department {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    font-size: 1.2em;
}

.schedule-department label:nth-child(1) {
    font-weight: bold;
}

.schedule-department .chosen-date {
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
}

.schedule-radio-group {
    margin: 15px 0 20px 20px;
    font-weight: bold;
}