<div class="dialog-container">
    <h1 mat-dialog-title>{{"Employee ID " + selectedSchedule.employeeID + " Work Schedule"}}</h1>
    <div mat-dialog-content class="dialog-content">
        <table>
            <tr>
                <td>Schedule ID: </td>
                <td>{{selectedSchedule.scheduleID}}</td>
            </tr>
            <tr>
                <td>Schedule Date: </td>
                <td>{{selectedSchedule.date}}</td>
            </tr>
            <tr>
                <td>Work Location: </td>
                <td>{{selectedSchedule.workLocation}}</td>
            </tr>
            <tr>
                <td>Work Hours: </td>
                <td>{{selectedSchedule.workHours}}</td>
            </tr>
            <tr>
                <td>Work Report: </td>
                <td>{{selectedSchedule.workReport}}</td>
            </tr>
            <tr>
                <td>Supervisor Comments: </td>
                <td><input type="text" placeholder="Comments about Work Schedule" (input)="inputValue($event)" /></td>
            </tr>
        </table>
    </div>
    <div mat-dialog-actions class="dialog-actions">
        <button mat-button mat-dialog-close (click)="handleClick('Cancel')">Cancel</button>
        <button mat-button mat-dialog-close cdkFocusInitial (click)="handleClick('Save')">Save</button>
    </div>
</div>