.mat-mdc-tab-group {
    margin-bottom: 48px;
}

.review-schedule-container {
    padding: 30px 40px;
}

h1 {
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}

table {
    width: 100%;
}

.review-schedule-container .review-schedule-department {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    font-size: 1.2em;
}

.review-schedule-container .review-schedule-department .chosen-date {
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
}

.review-schedule-radio-group {
    margin: 15px 0 20px 20px;
    font-weight: bold;
}